@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1rem;
  color: #232824;
  transition: font-size 250ms ease;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  html, body {
    font-size: 8px;
  }
}

a {
  opacity: 1;
  transition: opacity 350ms ease;
  text-decoration: none;
  color: #232824;
}
@media (hover: hover) {
  a:hover {
    opacity: 0.5;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 350ms ease;
  pointer-events: none;
  user-select: none;
}

.Divider {
  max-width: 15rem;
  width: 100%;
  height: 0.5rem;
  background-color: #171787;
  margin-bottom: 4rem;
}
@media (max-width: 1023px) {
  .Divider {
    margin-bottom: 3rem;
  }
}

.row {
  display: grid;
}

.Header {
  height: 200px;
  width: 100%;
  max-height: 14.5rem;
  background-color: white;
  padding: 0.5rem 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: 90% 10%;
  grid-column-gap: 0.5rem;
  position: relative;
  z-index: 100;
}
@media (max-width: 1280px) {
  .Header {
    height: 10rem;
  }
}
.Header .logo {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: calc(100% - 2rem);
  padding: 1rem 0;
  width: 100%;
}
@media (max-width: 1280px) {
  .Header .logo {
    height: calc(100% - 1rem);
    width: 100%;
    padding: 0.5rem 0;
  }
}
@media (max-width: 1280px) {
  .Header .logo a {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 1280px) {
  .Header .logo img {
    display: block;
    margin: 1.5rem auto;
    border: none;
    position: relative;
    display: block;
    height: calc(100% - 1rem);
    padding: 0.5rem 0;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .Sidebar {
    display: none;
  }
}
.Sidebar .menu-sidebar-container {
  margin-bottom: 2rem;
}
.Sidebar .menu-sidebar-container ul {
  border: 1px solid #c1c1c1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}
.Sidebar .menu-sidebar-container li:not(:last-of-type) {
  border-bottom: 1px solid #c1c1c1;
}
.Sidebar .menu-sidebar-container li a {
  background-color: transparent;
  color: #232824;
  display: block;
  padding: 1.5rem 2rem;
  transition: color 350ms ease, background-color 350ms ease;
}
@media (hover: hover) {
  .Sidebar .menu-sidebar-container li a:hover {
    opacity: 1;
    color: white;
    background-color: #e68a17;
  }
}

.RandomFact-image {
  background: #c1c1c1;
  height: 24rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.RandomFact-text {
  background-color: #171787;
  width: calc(100% - 4rem);
  padding: 1rem;
  margin: 0 auto;
  position: relative;
  top: -2rem;
  color: white;
}
.RandomFact-text .content {
  padding: 1rem;
}
.RandomFact-text h5 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.RandomFact-text p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3;
}

.Hero {
  height: 100%;
  background-color: #232824;
  height: 60rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1023px) {
  .Hero {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.Countdown {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 350ms ease;
  box-shadow: 0.5rem 0 10px rgba(0, 0, 0, 0.16);
}
.Countdown .textContainer {
  display: flex;
  height: calc(100% - 2rem);
  width: calc(100% - 4rem);
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(transparent -15%, #e68a17 75%, #cf7c15);
}
@media (max-width: 1023px) {
  .Countdown .textContainer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    height: auto;
  }
}
.Countdown .textContainer h2 {
  font-size: 2.5rem;
  color: #171787;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media (max-width: 1023px) {
  .Countdown .textContainer h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
.Countdown .textContainer h1 {
  font-size: 4.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2.5rem;
  letter-spacing: 0.25rem;
  text-align: center;
}
@media (max-width: 1023px) {
  .Countdown .textContainer h1 {
    font-size: 4rem;
  }
}
.Countdown .textContainer .description {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: 0.05rem;
  line-height: 1.25;
}
@media (max-width: 1023px) {
  .Countdown .textContainer .description {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 3rem;
  }
}
.Countdown .textContainer .timer {
  opacity: 1;
  transition: all 350ms ease;
  width: 90%;
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.1rem;
}
.Countdown .textContainer .timer.hidden {
  opacity: 0;
}
.Countdown .textContainer .timer .number {
  font-size: 5rem;
  color: #171787;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}
@media (max-width: 1023px) {
  .Countdown .textContainer .timer .number {
    font-size: 4.5rem;
  }
}
@media (max-width: 767px) {
  .Countdown .textContainer .timer .number {
    font-size: 2.25rem;
  }
}
.Countdown .textContainer .timer .time {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Countdown .textContainer .timer .time {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  .Countdown .textContainer .timer .time {
    font-size: 1.75rem;
  }
}

.EventsAndNews {
  display: grid;
  grid-template-areas: "news acknowledge" "calendar calendar";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem;
}

.Events {
  color: white;
  text-align: center;
  padding: 2rem 1.5rem;
  overflow: hidden;
  letter-spacing: 0.05rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1024px) {
  .Events {
    max-height: 23rem;
  }
}
.Events h4 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .Events h4 {
    font-size: 1.25rem;
  }
}
.Events h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.25;
  margin: 1rem 0 1.5rem;
}
@media (max-width: 767px) {
  .Events h3 {
    font-size: 1.5rem;
  }
}
.Events .Divider {
  margin: 0 auto 2.5rem;
}
.Events ul {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .Events ul {
    font-size: 1.25rem;
  }
}
.Events ul li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .Events ul li:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }
}
.Events ul a {
  padding: 0.5rem 0;
  color: inherit;
}

.News {
  grid-area: news;
  background-color: #171787;
}
.News h4 {
  color: #5555e2;
}
.News .Divider {
  background-color: #e68a17;
}

.Acknowledgements {
  grid-area: acknowledge;
  background-color: #e68a17;
}
.Acknowledgements h4 {
  color: #171787;
}

.Calendar {
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
  color: #232824;
  grid-area: calendar;
  background-color: white;
  text-align: left;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (max-width: 1023px) {
  .Calendar {
    height: auto;
  }
}
.Calendar .Divider {
  width: 11rem;
  margin: 0 0 2.5rem;
}
.Calendar .viewMore {
  text-align: right;
}
.Calendar .viewMore a {
  color: #232824;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 1;
  transition: opacity 350ms ease;
}
@media (hover: hover) {
  .Calendar .viewMore a:hover {
    opacity: 0.5;
  }
}

.Body {
  margin: 4rem auto;
  display: grid;
  padding: 0 2rem;
}
@media (min-width: 1024px) {
  .Body {
    grid-template-columns: 73rem 33rem;
    grid-column-gap: 2rem;
    max-width: 108rem;
  }
}

.Article {
  border: 1px solid #c1c1c1;
  padding: 2rem;
}
@media (min-width: 1024px) {
  .Article {
    max-width: 69.5rem;
  }
}
.Article:not(:last-of-type) {
  margin-bottom: 2rem;
}
.Article-title {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.Article .row {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.Article-image {
  padding-top: 27rem;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background: #c1c1c1;
}
.Article-description {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  display: grid;
  grid-template-rows: 92% 8%;
}
@media (max-width: 1023px) {
  .Article-description {
    font-size: 1.25rem;
    line-height: 1.25;
  }
}
.Article-description .viewMore {
  display: grid;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
}
