@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

html, body {
    font-size: $fontSize;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
    color: $Grey;
    transition: font-size 250ms ease;

    @include smallDesktop {
        font-size: $fontSize - 2px;
    }
}

*::selection {
    background: $Princeton;
}

a {
    opacity: 1;
    transition: opacity $transitionSpeed;
    text-decoration: none;
    color: $Grey;

    @include hover {
        &:hover {
            opacity: 0.5;
        }
    }
}

.hidden {
    opacity: 0;
    transition: opacity $transitionSpeed;
    pointer-events: none;
    user-select: none;
}

.Divider {
    max-width: 15rem;
    width: 100%;
    height: 0.5rem; 
    background-color: $MiddleBerry;
    margin-bottom: 4rem;

    @include tabletDown {
        margin-bottom: 3rem;
    }
}


.row {
    display: grid;
}