.Body {
    margin: 4rem auto;
    max-width: 108rem;
    display: grid;
    grid-template-columns: 73rem 33rem;
    grid-column-gap: 2rem;
}


.Article {
    border: 1px solid $LightGrey;
    padding: 2rem;
    max-width: 69.5rem;

    &:not(:last-of-type){
        margin-bottom: 2rem;
    }

    &-title {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .row {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }

    &-image {
        padding-top: 27rem;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background: $LightGrey;
    }

    &-description {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.4;
        display: grid;
        grid-template-rows: 92% 8%;

        .viewMore {
            text-align: right;
            text-transform: uppercase;
        }
    }
}