.EventsAndNews {
    display: grid;
    grid-template-areas: "news acknowledge" "calendar calendar";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem;
}

.Events {
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    max-height: 23rem;
    overflow: hidden;
    letter-spacing:0.05rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.16);

    h4 {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.25;
        margin: 1rem 0 1.5rem;
    }

    .Divider {
        margin: 0 auto 2.5rem;
    }

    ul {
        font-size: 1.5rem;
        font-weight: 700;

        li:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }

        a {
            padding: 0.5rem 0;
            color:inherit;
        }
    }
}

.News {
    grid-area: news;
    background-color: $MiddleBerry;

    h4 {
        color: lighten($MiddleBerry, 30%);
    }

    .Divider {
        background-color: $Princeton;
    }
}

.Acknowledgements {

    h4 {
        color: $MiddleBerry;
    }

    grid-area: acknowledge;
    background-color: $Princeton;
}

.Calendar {
    display: grid;
    grid-template-rows: 90% 10%;
    height: 100%;
    color: $Grey;
    grid-area: calendar;
    background-color: white;
    text-align:left;
    padding-left: 4rem;
    padding-right: 4rem;

    .Divider {
        width: 11rem;
        margin: 0 0 2.5rem;
    }

    .viewMore {
        text-align: right;

        a {
            color: $Grey;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 900;
            opacity: 1;
            transition: opacity $transitionSpeed;

            @include hover {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}